@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }

body{
    background-image: url(imagens/Espaço.jpg);
}

a{
    color:rgb(128, 128, 128);
    cursor: pointer;
    transition: .2s;
    
  }
  
a:hover{
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }

a:focus{
    color:rgb(255, 255, 255);
    background: #000;
  }
h2{
    color:rgb(255, 255, 255);
    font-family: 'Medium 500', Rubik;
}
.loguinho{
    position: absolute;
}
.cabecalho{
    background-image:url(imagens/fundo.jpeg);
}
.subtitulo{
    text-align: center;
    
}
.titulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:10em;
}
.destinos{
    font-family: 'Medium 500', Rubik;
    font-size: 15px;
    background-color: black;
    border: 1px solid rgb(63, 63, 63);
    text-align: center;
    border-left-width:0em;
    border-right-width:0em;
    padding: 1.4em;
    
}
.destino1{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    border: 1px solid rgb(34, 34, 34);
    margin-top: 10em;
    padding: 1.4em;
    border-top-width:0em;
    border-bottom-width:0em;
}
.destino2{
    border: 1px solid rgb(34, 34, 34);
    padding: 1.4em;
    border-top-width:0em;
    border-bottom-width:0em;
}
.destino3{
    border: 1px solid rgb(34, 34, 34);
    padding: 1.4em;
    border-top-width:0em;
    border-bottom-width:0em;
}
.destino4{
    border: 1px solid rgb(34, 34, 34);
    padding: 1.4em;
    border-top-width:0em;
    border-bottom-width:0em;
}
.destino5{
    border: 1px solid rgb(34, 34, 34);
    padding: 1.4em;
    border-top-width:0em;
    border-bottom-width:0em;
}
.sobre{
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
    background-color: rgb(22, 22, 22);
    padding: 1em;
}
.dados{
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin-left: 8em;
    margin: 8em;
    padding: 1.1em;
}

.slider input {
    display: none;
}
.slider {
    display: block;
    height: 393px;
    width: 1050px;
    margin:auto;
    margin-bottom: 10em;
    position: relative;
    padding: 1.4em;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slider label {
    background-color: rgb(255, 255, 255);
    bottom: 30px;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 60px;
}

.slider li:nth-child(3) label {
    left: 110px;
}
.slider li:nth-child(4) label {
    left: 160px;
}
.slider li:nth-child(5) label {
    left: 210px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.texto1{
    font-family: 'Medium 500', Rubik ;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 4em;
    position: absolute
    
}
.texto2{
    font-family: 'Medium 500', Rubik ;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 4em;
    position: absolute
    
}
.texto3{
    font-family: 'Medium 500', Rubik ;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 4em;
    position: absolute
    
}
.texto4{
    font-family: 'Medium 500', Rubik ;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 4em;
    position: absolute
    
}
.texto5{
    font-family: 'Medium 500', Rubik ;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 4em;
    position: absolute
    
}
.slider2 input {
    display: none;
}
.slider2 {
    display: block;
    height: 393px;
    width: 1050px;
    margin:auto;
    margin-bottom: 10em;
    position: relative;
    padding: 1.4em;
}

.slider2 li {
    list-style: none;
    position: absolute;
}

.slider2 img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slider2 label {
    background-color: rgb(255, 255, 255);
    bottom: 30px;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 10;
}

.slider2 li:nth-child(1) label {
    left: 10px;
}

.slider2 li:nth-child(2) label {
    left: 60px;
}

.slider2 li:nth-child(3) label {
    left: 110px;
}
.slider2 li:nth-child(4) label {
    left: 160px;
}
.slider2 li:nth-child(5) label {
    left: 210px;
}
.slider2 img {
    opacity: 0;
    visibility: hidden;
}
.slider2 p {
    opacity: 0;
    visibility: hidden;
}
.slider2 li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider2 li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider3 input {
    display: none;
}
.slider3 {
    display: block;
    height: 393px;
    width: 1050px;
    margin:auto;
    margin-bottom: 10em;
    position: relative;
    padding: 1.4em;
}

.slider3 li {
    list-style: none;
    position: absolute;
}

.slider3 img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slider3 label {
    background-color: rgb(255, 255, 255);
    bottom: 30px;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 10;
}

.slider3 li:nth-child(1) label {
    left: 10px;
}

.slider3 li:nth-child(2) label {
    left: 60px;
}

.slider3 li:nth-child(3) label {
    left: 110px;
}
.slider3 li:nth-child(4) label {
    left: 160px;
}
.slider3 li:nth-child(5) label {
    left: 210px;
}
.slider3 img {
    opacity: 0;
    visibility: hidden;
}
.slider3 p {
    opacity: 0;
    visibility: hidden;
}

.slider3 li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider3 li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
footer{
    background-image: url(imagens/rodapé.jpg);
}
.lema{
    font-family: 'Medium 500', Rubik ;
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 3em;

}
.frase{
    font-family: 'Medium 500', Rubik ;
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 1em;
}
.mapa{
    margin-left: 25em;
    margin-right: 25em;
    padding: 4em;
}
.mensagem{
    font-family: 'Medium 500', Rubik ;
    background-color: rgb(34, 34, 34);
    text-align: center;
    color: white;
    font-size: 1.3em;
    padding: 1.1em;
}
.email{
    padding: 1.1em;
    text-align: center;
    color: white;
}